body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    padding: 10px 30px;
}

.row2 {
    padding: 10px 30px;
    background-color: red;
}

.align1 {
    align-items: center;
}

#btn2 {
    margin-top: -20px;
}

#image {
    padding: 10px;
}

#inp :hover {
    box-shadow: 0px 0px 12px #333;
}

.lbhd {
    font-weight: bold;
}